In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer

In [33]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [34]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
import itertools

In [35]:
dataframe = pd.read_csv("C:/Users/Administrator/Desktop/datasets-v5/task-1/task1.train.txt",delimiter="\t")

In [36]:
dataframe.to_csv("C:/Users/Administrator/Desktop/datasets-v5/New_Task1.train.csv", encoding='utf-8', index=False)

In [37]:
df = pd.read_csv("C:/Users/Administrator/Desktop/datasets-v5/New_Task1.train.csv", header=None)

In [38]:
df.head()

,0,1,2
0,"Et tu, Rhody? A recent editorial in the Provi...",727600136,non-propaganda
1,A recent post in The Farmington Mirror — our t...,731714618,non-propaganda
2,"President Donald Trump, as he often does while...",731714635,non-propaganda
3,"February is Black History Month, and nothing l...",728627182,non-propaganda
4,"The snow was so heavy, whipped up by gusting w...",728627443,non-propaganda

In [39]:
df.columns =['Title_Content','article_id','label']

In [40]:
df.isnull().sum()

Title_Content    0
article_id       0
label            0
dtype: int64

In [41]:
df.shape

(35986, 3)

In [42]:
y=df['label']
df1 = df.drop('label',axis=1)
df1.head(2)

                                       Title_Content  article_id
0  Et tu, Rhody?  A recent editorial in the Provi...   727600136
1  A recent post in The Farmington Mirror — our t...   731714618

In [85]:
X_train,X_test,y_train,y_test = train_test_split(df1['Title_Content'],y,test_size =0.3, random_state= 100)
type(X_test.head())
X_test

8438     Courtesy of Acer Philippines Facebook page  MA...
28823    Google’s decision to block all adverts relatin...
14178    The Oxfam sex scandal has once again placed on...
32430    There’s no need at this point to pull any punc...
30864    US-China thought leaders, scholars and busines...
1299     The B.C. Civil Liberties Association and Docto...
12803    Yet another citizen falls to muggers’ bullets ...
2070     © RNZ / Diego Opatowski 24/01/13. Photo Diego ...
2518     © CNN News 18  Across several metro stations i...
24160    LUDHIANA: On a call given by United Forum of B...
108      Connecticut school districts showed little imp...
7660     KUALA LUMPUR (Reuters) - An article by a Malay...
1915     © Bloomberg via Getty Images Anthony Scaramucc...
11019    Nearly 1.7 million people have signed an onlin...
11303    A former Egyptian ambassador said that the cur...
15302    NewsFaith  HOLLYWOOD, California, January 31, ...
25361    On Monday, the National Rifle Association (NRA...
23896    RAJKOT: In line with the state government’s re...
28614    Of 15 mobile phones belonging to former the ga...
22490    A package from Amazon Prime moves on a conveyo...
27025    The housing market at a North Korea-China bord...
16482    One week after 17 people were killed at a Flor...
9189     Vice President M Venkaiah Naidu today condemne...
31897    An old man sits in a stone steps street at the...
8300     Watch more in iWantv or TFC.tv  But PH uncerta...
19216    US Director of National Intelligence Dan Coats...
3056     © Provided by The New Indian Express Carles Pu...
28219    ALPHARETTA, Ga. -- A police department in Geor...
20500    The number of hate groups across the country g...
10962    Dozens of Jordanians demonstrated in central A...
                               ...
25265    ANKARA (Sputnik) – Turkey is resisting Western...
13970    For recipients of the Deferred Action for Chil...
13878    Hoppy Brewing co-owner Troy Paski will close h...
1715     © NICHOLAS KAMM/AFP/Getty Images White House s...
29434    Former Alaska Gov. Sarah Palin (R) said it’s a...
30975    Around 60 activists began a march from the Fre...
19788    The union representing 3,700 St. Paul teachers...
33426    We thought the Obama administration could stoo...
26184    WASHINGTON (AP) — US President Donald Trump sa...
10132    In this Oct. 19, 2016 photo, a man fishes for ...
34564    Despite this compelling evidence of dishonesty...
32924    Nidal Mohamed Sakr, Muslim Brotherhood operati...
26190    UNITED NATION — The United States on Friday as...
22643    Want smart analysis of the most important news...
18980    The Sunday crash of an Iranian ATR 72 passenge...
23993    COLOMBO: Sri Lankan President Maithripala Siri...
26191    WASHINGTON — Donald Trump’s new attorney indic...
3085     © SAUL LOEB/AFP/Getty Images Former FBI Direct...
2568     © Provided by Business Insider Donald Trump Ki...
6195     WASHINGTON — President Donald Trump's CIA nomi...
28657    Abcam’s founder Jonathan Milner sits on the bo...
32746    Personal Liberty Poll Exercise your right to v...
7590     Ryan Coogler and Lupita Nyong'o attend the 'Bl...
8591     Lawyer of former Budget Undersecretary Mario R...
34091    On Independence Day, for normal Americans the ...
9205     US President Donald Trump has a "strong relati...
1354     © Provided by Independent Digital News & Media...
7587     Alex Wong/Getty Images  Staff members of Vice ...
19265    A top lawmaker at the US House of Representati...
33280    As Reuters reports, President Trump, subject t...
Name: Title_Content, Length: 10796, dtype: object

In [113]:
#tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.8)

In [114]:
tfidf_train = tfidf_vectorizer.fit(X_train)
tfidf_train = tfidf_vectorizer.transform(X_train)
tfidf_test = tfidf_vectorizer.transform(X_test)

In [115]:
linear_clf = PassiveAggressiveClassifier(n_iter=50)

linear_clf.fit(tfidf_train, y_train)
pred = linear_clf.predict(tfidf_test)
print(pred)
score_pa_tfidf = metrics.accuracy_score(y_test, pred)
score_pa_tfidf = round(score_pa_tfidf,3)
print("accuracy:   %0.3f" % score_pa_tfidf)
tn,fp,fn,tp = metrics.confusion_matrix(y_test, pred, labels=['non-propaganda', 'propaganda']).ravel()
R = (tp/(tp+fn)) # recall/sensitivity
P = (tp/(tp+fp)) # precision
F1_pa = (2*P*R)/(P+R)
print(F1_pa)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

['non-propaganda' 'non-propaganda' 'non-propaganda' ... 'non-propaganda'
 'non-propaganda' 'propaganda']
accuracy:   0.960
0.8

In [138]:
mlp = MLPClassifier(hidden_layer_sizes=(5,5,4)) # initially(554_0.787)(573_0.556)
mlp.fit(tfidf_train, y_train)
pred = mlp.predict(tfidf_test)
score= metrics.accuracy_score(y_test, pred)
score_cnt_mlp=round(score,3)
#print(score_knn_tfidf)
print("accuracy:   %0.3f" % score)
tn,fp,fn,tp = metrics.confusion_matrix(y_test, pred, labels=['non-propaganda', 'propaganda']).ravel()
R = (tp/(tp+fn)) # recall/sensitivity
P = (tp/(tp+fp)) # precision
F1_mlp_cnt = (2*P*R)/(P+R)
print(F1_mlp_cnt)

accuracy:   0.961
0.803921568627451

In [10]:
dev_data=pd.read_csv('C:/Users/Administrator/Desktop/dev-INPUT/task-1/task1.dev.txt',delimiter="\t")

In [14]:
dev_data.to_csv("C:/Users/Administrator/Desktop/dev-INPUT/task-1/New_Task1.dev.csv", encoding='utf-8', index=False)

In [20]:
dev = pd.read_csv("C:/Users/Administrator/Desktop/dev-INPUT/task-1/New_Task1.dev.csv", header=None)
dev.head()

                                                   0       1  2
0  Building a quick beat, the North Chicago poet ...  200017  ?
1  If you needed a further reminder of how Metro ...  200036  ?
2  Taylor Swift famously withheld her back catalo...  200038  ?
3  May 14 squall line on radar. (Radarscope)  Mon...  200086  ?
4  A pre-emptive attack by the United States agai...  200113  ?

In [127]:
dev.columns =['Title_Content','article_id','label']
dev['article_id'].head()

0    200017
1    200036
2    200038
3    200086
4    200113
Name: article_id, dtype: int64

In [96]:
dev1 = dev.drop('label',axis=1)

dev1 =dev1.set_index('article_id')
#dev1 =pd.Series(dev1)
#type(dev1)
dev1.head()

                                                Title_Content
article_id
200017      Building a quick beat, the North Chicago poet ...
200036      If you needed a further reminder of how Metro ...
200038      Taylor Swift famously withheld her back catalo...
200086      May 14 squall line on radar. (Radarscope)  Mon...
200113      A pre-emptive attack by the United States agai...

In [31]:
linear_clf = PassiveAggressiveClassifier(n_iter=50)

linear_clf.fit(tfidf_train, y_train)
pred = linear_clf.predict(tfidf_data)
score_pa_tfidf = metrics.accuracy_score(y_test, pred)
score_pa_tfidf = round(score_pa_tfidf,3)
print("accuracy:   %0.3f" % score_pa_tfidf)
tn,fp,fn,tp = metrics.confusion_matrix(y_test, pred, labels=['non-propaganda', 'propaganda']).ravel()
R = (tp/(tp+fn)) # recall/sensitivity
P = (tp/(tp+fp)) # precision
F1_pa = (2*P*R)/(P+R)
print(F1_pa)

<2x2 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [98]:
#tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [117]:
tfidf_dev=tfidf_vectorizer.transform(dev1['Title_Content'])

# Dev data Prediction  for Passive Aggresion

In [118]:
pred = linear_clf.predict(tfidf_dev)

In [119]:
pred

array(['non-propaganda', 'non-propaganda', 'non-propaganda', ...,
       'non-propaganda', 'non-propaganda', 'non-propaganda'], dtype='<U14')

In [130]:
pred1 = pd.DataFrame(pred)
pred1['article_id']=dev['article_id']
dev_pred = pd.DataFrame({"art_id":pred1['article_id'],"class":pred1[0]},columns = ['art_id','class'])

dev_pred.head()

   art_id           class
0  200017  non-propaganda
1  200036  non-propaganda
2  200038  non-propaganda
3  200086  non-propaganda
4  200113  non-propaganda

In [137]:
dev_pred.to_csv('C:/Users/Administrator/Desktop/dev-INPUT/task-1/dev.txt', header = False,index=False, sep='\t',mode='a')

# Dev Data prediction for MLNN

In [139]:
pred_MLNN = linear_clf.predict(tfidf_dev)

In [140]:
pred1_MLNN = pd.DataFrame(pred_MLNN)
pred1_MLNN['article_id']=dev['article_id']
dev_pred_MLNN = pd.DataFrame({"art_id":pred1_MLNN['article_id'],"class":pred1_MLNN[0]},columns = ['art_id','class'])

dev_pred_MLNN.head()

   art_id           class
0  200017  non-propaganda
1  200036  non-propaganda
2  200038  non-propaganda
3  200086  non-propaganda
4  200113  non-propaganda

In [141]:
dev_pred.to_csv('C:/Users/Administrator/Desktop/dev-INPUT/task-1/dev_MLNN.txt', header = False,index=False, sep='\t',mode='a')